.section {
    padding-top: 60px;
    padding-bottom: 40px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.top_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    padding: 0 10px;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 24px;
    color: #E3000B;
    font-family: "Transforma Mix";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
}

.subtitle:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 34px;
    background: url('../../assets/images/chevron-red.png') no-repeat center;
    background-size: contain;
}

.title {
    color: #171313;
    font-family: "Mustica Pro";
    font-size: 28px;
    line-height: 1;
}

.subtext {
    color: #606060;
    font-family: "Darker Grotesque";
    font-size: 16px;
    line-height: 1.37;
}

.case_list {
    display: flex;
    gap: 6px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    margin-right: -10px;

    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background: #E3000B;
        border-radius: 25px;
    }

    &::-webkit-scrollbar-track {
        background-color: #EFEFEF;
        border-radius: 25px;
        margin-right: 10px;
    }
}

@media (min-width: 1024px) {
    .section {
        padding-top: 40px;
    }

    .top_wrapper {
        flex-direction: row;
        gap: 80px;
        padding: 80px 40px;
    }

    .title {
        font-size: 48px;
    }

    .subtext {
        max-width: 678px;
        width: 100%;
        font-size: 20px;
    }
}
