.section {
    background-image: url("../../assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    width: 100%;
    height: 100vh;
    max-height: 1600px;
    display: flex;
    align-items: flex-end;
}

.wrapper {
    padding: 20px 20px 60px;
}

.title {
    color: #F7F5F5;
    font-family: "Transforma Mix";
    font-size: 48px;
    line-height: 1;
    margin-bottom: 24px;
}

.text {
    color: #F7F5F5;
    font-family: "Mustica Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.27;
}

@media (min-width: 768px) {
    .section {
        background-image: url("../../assets/images/hero-desctop.png");
    }

    .title {
        font-size: 80px;
    }

    .text {
        font-size: 32px;
        max-width:950px;
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .title {
        font-size: 120px;
    }

    .text {
        font-size: 40px;
    }
}