.section {
    padding: 60px 10px 0;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.top_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 24px;
    color: #E3000B;
    font-family: "Transforma Mix";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
}

.subtitle:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 34px;
    background: url('../../assets/images/chevron-red.png') no-repeat center;
    background-size: contain;
}

.title {
    color: #171313;
    font-family: "Mustica Pro";
    font-size: 28px;
    line-height: 1;
}

.subtext {
    color: #606060;
    font-family: "Darker Grotesque";
    font-size: 16px;
    line-height: 1.37;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.image_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    aspect-ratio: 1 / .85;
    border-radius: 24px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item_image_wrapper {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border-radius: 24px;
    background: #F7F5F5;
    max-width: calc(50% - 5px);
    width: 100%;
    height: auto;

    span {
        color: #E3000B;
        font-family: "Mustica Pro";
        font-size: 40px;
        line-height: 1.2;
    }

    p {
        color: #171313;
        font-family: "Mustica Pro";
        font-size: 20px;
        line-height: 1;
        opacity: 0.8;
    }
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row-reverse;
    }
    .image_wrapper {
        max-width: 45%;
        aspect-ratio: 1;
    }

    .list {
        flex-direction: column;
        width: 100%;
    }

    .item {
        max-width: 100%;


    }
}

@media (min-width: 1024px) {
    .top_wrapper {
        flex-direction: row;
        gap: 80px;
    }

    .subtitle {
        flex-shrink: 0;
    }

    .title {
        font-size: 48px;
    }

    .subtext {
        font-size: 20px;
    }

    .image_wrapper {
        max-width: 27%;
        aspect-ratio: 1 / 1.5;
    }

    .item_image_wrapper {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 24px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .list {
        flex-direction: row;
        gap: 20px;
    }

    .item {
        height: 180px;
        max-width: calc(50% - 10px);

        span {
            font-size: 68px;
        }

        p {
            font-size: 34px;
        }
    }
}

