.header {
    position: absolute;
    top: 40px;
    left: 0;
    /*max-width: 768px;*/
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.open_burger_menu_button {
    position: absolute;
    left: 20px;
    width: 32px;
    height: 32px;
    background: url('../../assets/icons/open-burger.svg') no-repeat center;
    background-size: contain;
}

.nav {
    display: none;
}

.order_button {
    display: none;
}

@media (min-width: 768px) {
    .header {
        padding: 38px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .open_burger_menu_button {
        display: none;
    }

    .nav {
        display: block;
        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;

            li {
                a {
                    color: rgba(247, 245, 245, 0.6);
                    font-family: Grotesk, sans-serif;
                    font-size: 24px;
                    line-height: .7;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    transition: color ease-in-out 0.2s;

                    &:hover {
                        color: rgba(247, 245, 245, 1);
                      }
                }
            }
        }
    }

    .order_button {
        display: block;
        background: transparent;
        padding: 14px 40px;
        border-radius: 100px;
        border: 2px solid #F7F5F5;
        color: #F7F5F5;
        font-family: Darker Grotesque, sans-serif;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}



