.case_item {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 12px;
}

.image {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    aspect-ratio: 1 / .85;
    object-fit: cover;
    background-repeat: no-repeat;
}


.text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #E3000B;
    height: 100%;
    padding: 24px 20px;
}

.case_title {
    color: #F7F5F5;
    font-family: Mustica Pro, sans-serif;
    font-size: 28px;
    line-height: 1.2;
}

.details_item {
    display: flex;
    align-items: baseline;
    gap: 12px;
    color: #F7F5F5;
    font-family: Darker Grotesque, sans-serif;
    font-size: 16px;
    line-height: 1.1;
}

.details_item:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #F7F5F5;
    border-radius: 50%;
    flex-shrink: 0;
}

@media (min-width: 1024px) {
    .case_item {
        margin-bottom: 34px;
    }

    .case_title {
        font-size: 64px;
    }

    .text_wrapper {
        gap: 40px;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    .details_item {
        font-size: 30px;
        align-items: center;
    }
}